{%extends 'base.html' %}
{% block content%}

<h2>Listar Cursos</h2>
    <a href="{% url 'incluir_cursos' %}" class=" btn btn-secondary">Cadastrar novo curso</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Carga</th>
                <th>Investimento</th>
            </tr>
        </thead>
        <tbody>
            {% for a in cursos %}
                <tr>
                    <td>{{a.nome}}</td>
                    <td>{{a.cargal}}</td>
                    <td>
                        <a href="{% url 'editar_curso' a.id %}" class=" btn btn-secondary">Editar</a>
                        <a href="{% url 'excluir_curso' a.id %} " class=" btn btn-secondary">Excluir</a>
                    </td>
                </tr>
            {% endfor %}        
        </tbody>
    </table>
{% endblock %}
